body {
  margin: 0;
  padding: 0;
  animation: smooth-in 4s ease;
  font-family: Poppins;
  background-color: black;
  color: white;


  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: gray;
}

@keyframes smooth-in {
  0%{
    opacity: 0;
  }
  100%{
    opacity:1;
  }
}

.gbar {
  font-size: 18px;
  padding: 30px
}

.contentor{
  height: 70vh;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 60px;
}

.menuNav {
  padding: 30px;
  display: flex;
  flex-direction: row;
}

.nav_link {
  font-size: 1vw;
  z-index: 1;
  padding: 20px;
  font-family: Poppins;
  animation: fade-in 0.4s ease;
  color: white;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity:0.1;
  }
  100% {
    opacity: 1;
  }
}

.nav_link:hover {
  background-color: rgba(222,222,222,0.5);
  border-radius: 30px;
  color: black;
}

.image {
  position: relative;
}

.text{
  display: flex;
  flex-direction: column;
  text-align:justify;
  justify-content: flex-start;
  align-items: center;
  margin-right: 60px;
  width: 50%;
}

.contentor p{
  font-size: 18px;
  color: white;
}

.mimage {
  position: relative;
}

.mimage img {
  width: 300px;
  height:auto;
}

.mimage img.second {
  position: absolute;
  left: 0;
}

.mimage img.second {
  position: absolute;
  left: 0;
  height: 100%;
  animation: floatingup 2s infinite;
}

.image img {
  height: 70%;
}

.image img.second {
  position: absolute;
  left: 0;
  height: 100%;
  animation: floatingup 2s infinite;
}

.homeButton {
  display: block;
  font-size: 1vw;
  text-align: center;
  line-height: 5vh;
  width: 9vw;
  height: 5vh;
  background-color: transparent;
  color: white;
  border: 2px solid #ffffff;
  border-radius: 100px;
  padding-left: 10px;
  padding-right: 10px;
  transition: background-color .5s ease, color .5s ease;
}

.homeButton:hover {
  background-color: white;
  color: black;
}

.homeButton:focus {
    outline: none;
    border: none;
}

@keyframes floatingup {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 10px); }
    100%   { transform: translate(0, -0px); }
}

@media only screen and (max-width: 600px) {


.gbar{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contentor{
  flex-direction: column-reverse;
  height: 100%;
  width:100%;
  padding: 0;
}

.text{
  width:80vw;
  margin-right: 0;
  text-align: justify;
}

.mimage {
  position: relative;
}

.mimage img {
  width: 100px;
  height:auto;
}

.mimage img.second {
  position: absolute;
  left: 0;
}

.mimage img.second {
  position: absolute;
  left: 0;
  height: 100%;
  animation: floatingup 2s infinite;
}


.image {
  position: relative;
  margin-bottom: 30px;
}

.image img {
  width: 300px;
  height:auto;
}

.image img.second {
  position: absolute;
  left: 0;
}

.homeButton {
  display: block;
  font-size: 15px;
  text-align: center;
  line-height: 50px;
  width: 200px;
  height: 50px;
  background-color: transparent;
  color: white;
  border: 2px solid #ffffff;
  border-radius: 100px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 30px;
  transition: background-color .5s ease, color .5s ease;
}

.homeButton:hover {
  background-color: white;
  color: black;
}

.homeButton:focus {
    outline: none;
    border: none;
}

.menuNav {
  justify-content: center;
}

.nav_link {
  font-size: 10px;
  z-index: 1;
  padding: 20px;
  font-family: Poppins;
  animation: fade-in 0.4s ease;
  color: white;
}

}
