* {
  font-family: Poppins;
}

html {
  background-color: black;
animation: fade-white 1s ease forwards;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: gray;
}

body {
  position: absolute;
  margin: 0;
  padding: 0;
  animation: smooth-in 4s ease;
}

@keyframes smooth-in {
  0%{
    opacity: 0;
  }
  100%{
    opacity:1;
  }
}

.message {
  position: absolute;
  bottom: 10vh;
  right: 10vh;
  color: white;
  font-size: 1vw;
}

.gbar {
  font-family: Poppins;
  color: white;
  position: absolute;
  top: 5vh;
  left: 10vh;
  right: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.1vw;
}

.mainScreen {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Poppins;
}

.menuNav {
  position: absolute;
  bottom: 9vh;
  left: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav_link {
  font-size: 1vw;
  z-index: 1;
  padding: 20px;
  font-family: Poppins;
  animation: fade-in 0.4s ease;
  color: white;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity:0.1;
  }
  100% {
    opacity: 1;
  }
}

.nav_link:hover {
  background-color: rgba(222,222,222,0.5);
  border-radius: 30px;
  color: black;
}

.contentor{
  margin-top: 20vh;
  width: 70vw;
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (max-width: 650px) {

  body {
    display: none;
  }
}
