* {
  font-family: Poppins;
}

html {
background-color: black;
animation: fade-white 1s ease forwards;
}

.backg{
  margin: 0;
  position: fixed;
  z-index: -1;
  align-self: center;
  animation: waves 8s infinite;
  object-fit: cover;
}

@keyframes waves {
  0% {
    opacity: 0;
  }
  25%{
    opacity:.2;
  }
  50%{
    opacity: .3;
  }
  75%{
    opacity: .2;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-white {
  0% {
    background-color: black;
  }
  10%{
    background-color: black;
  }
  100% {
    background-color: white;
  }
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: gray;
}

body {
  position: absolute;
  margin: 0;
  padding: 0;
  animation: smooth-in 4s ease;
}

@keyframes smooth-in {
  0%{
    opacity: 0;
  }
  100%{
    opacity:1;
  }
}

.message {
  position: absolute;
  bottom: 10vh;
  right: 10vh;
  color: black;
  font-size: 1vw;
}

.gbar {
  font-family: Poppins;
  color: black;
  position: absolute;
  top: 5vh;
  left: 10vh;
  right: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.1vw;
}

.mainScreen {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Poppins;
}

/* NAV MENU STYLES DESKTOP */

.logo_circle {
  height: 2vw;;
  width: auto;
}

.menuNav {
  position: absolute;
  bottom: 9vh;
  left: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav_link {
  font-size: 1vw;
  z-index: 1;
  padding: 20px;
  font-family: Poppins;
  animation: fade-in 0.4s ease;
  color: black;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity:0.1;
  }
  100% {
    opacity: 1;
  }
}

.nav_link:hover {
  background-color: rgba(222,222,222,0.5);
  border-radius: 30px;
  color: black;
}

.sitem {
  width: 80%;
  font-size: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: filter .4s ease-out;
}

.sitem:hover {
  font-weight: bold;
  background-color: white;
  border-radius: 10%;
  filter: invert(100%);
}

.sitem:hover .simage{
  animation: floating 1s infinite;
}

.services {
  margin-top: 25vh;
  width: 60vw;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 30% 30%;
  grid-row-gap: 20px;
  z-index: 1;
}

.desc{
  position: fixed;
}

.simage {
  height: 10vh;
  transition: width 1s ease;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, -10px); }
    100%   { transform: translate(0, -0px); }
}

.serviceInfo {
  z-index: 2;
  display: none;
  background-color: black;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

@media only screen and (max-width: 600px) {

  .services {
    margin-top: 25vh;
    width: 60vw;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-row-gap: 20px;
    z-index: 1;
  }

}
